@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}
.active hr {
  @apply block;
}

::-webkit-scrollbar {
  @apply hidden;
}
.dark {
  background-color: #121212;
  color: #ffffff;
}

@media (max-width: 768px) {
  .active p {
    @apply text-white bg-primary;
  }
}
@keyframes float {
  0%, 100% {
    transform: translateY(0) rotate(12deg);
  }
  50% {
    transform: translateY(-20px) rotate(12deg);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}